*.o
cmp-scalar
cmp-vector
copy-vector
copy-matrix-dense
copy-matrix-csr
mul-vv
mul-mv
mul-mTv
mul-spmv
mul-spmTv
print-type
print-vector
print-scalar
print-matrix-dense
print-matrix-csr
random-scalar
random-vector
random-matrix-dense
random-matrix-csr
benchmark-mul-vv
benchmark-mul-mv
benchmark-mul-spmv
benchmark-mul-mTv
benchmark-mul-spmTv
datafiles
